.body{
    background-color: whitesmoke;/*B4C7F8 E8F8B4 F5D0F6 8AFFFE */
}
#HomeNav{
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: rgb(26, 26, 26);
}
#Homenav #where{
    color: #65837b;
}
#home{
    color:#65837b;
}
#home:hover{
    color: white;
}
#Events{
    color: #65837b;
}
#Events:hover{
    color: white;
}
#Hotels{
    color: #65837b;
}
#Hotels:hover{
    color: white;
}
#Map:hover{
    color: white;
}
#Map{
    color: #65837b;
}

.carouselEx{
    background-color: rgba(0, 0, 0, 0.050);
    padding: 30px;
}
#carouselExampleIndicators{
    width:100vw; 
    padding-top: 60px; 
}
.carousel-inner{
    border-radius: 50px;
}
/* #carouselExampleIndicators{
    padding-top: 70x; 
} */


.card-group{
    /* background-color: ; */
    margin-left: 10vh;
    margin-right: 10vh;
    
}
.card{
    border-radius: 2vh;
    padding: 1vh;
    margin: 5vh;
}
#pic3{
    height:50vh;  
    border-radius: 15px;
}
#pic4{
    height: 50vh;
    border-radius: 15px;
}
#mp3{
    height: 50vh; 
    border-radius: 15px;
}
#foot{
    margin-top: 100px;
    background-color: rgba(105, 80, 80, 0.055);
}